
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    background-color:gray;
    justify-content: center;
    margin: 0;
    
}

/* start of header */

.header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5));
    position:sticky;
  }


.nav-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background:black;
  padding: 10px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}


.nav-links .center
{
  margin: 2px auto;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.nav-links li{
  list-style: none;
  margin: 0 12px;
}



.nav-links li a{
  position: relative;
  color: #ccc;
  font-size: 30px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  text-shadow: 0px 0px 10px #a58e0a;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: darkgray;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}

 /* to make it draw from center */
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
  
}

@media screen and(max-width: 600px) {
   .nav-links li a{
    font-size: 24px;
   }
  
}


/* end of header */







